@import "../style.scss";

.nav-right {
  .btn-sale {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: $--white;
      color: $--blue-main;
    }
  }

  .total-sale {
    &.token-sale--hidden {
      display: none;
    }
    background-color: white;
    box-sizing: border-box;
    padding: 2rem;
    color: black;
    min-width: 60rem;
    border-radius: 0.5rem;
    .token-sold {
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      align-items: center;

      &__bar {
        width: 95%;
        height: 3rem;

        border-radius: 1.5rem;
        background-color: rgba($color: $--gray, $alpha: 0.2);

        box-shadow: 0px 3px 10px rgba($color: $--gray, $alpha: 0.3);
        overflow: hidden;
        &-before {
          position: absolute;

          width: 2rem;
          height: 2rem;

          border-radius: 50%;

          background-color: $--blue-main;

          top: -3rem;
          left: -1rem;
          p {
            position: absolute;
            text-align: center;
            color: $--text-color-bold;
            top: -1.75rem;
            left: 0.5rem;
            font-size: 1.5rem;
            margin: 0;
          }
          &::before {
            top: 35%;
            position: absolute;
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            background-color: #075e89;
            left: 0.25rem;
            transform: rotateZ(45deg) skew(10deg, 10deg);
          }
        }

        &-loading {
          height: 100%;
          position: relative;
          border-radius: 1.5rem;
          background-color: $--blue-main;
          box-shadow: 0px 0px 15px rgba($color: $--gray, $alpha: 0.5);
        }
      }

      &__title {
        &.title--none-margin {
          margin: 0rem;
        }
        font-weight: bold;
        color: $--blue-main;
        margin-bottom: 0rem;
        .text-main {
          color: $--warning;
        }
      }
    }

    .set-sold {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        .input-sale {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          text-align: left;
          &::after {
            content: "CBT";

            width: 10rem;
            align-items: center;
            height: 54%;
            font-size: 1.5rem;
            justify-content: center;
            display: flex;

            color: $--white;
            background-color: $--dark;

            border-radius: 0rem 0.3rem 0.3rem 0rem;

            right: 0;
            bottom: 0;
            position: absolute;
          }
          &__title {
            font-size: 1.5rem;
            margin-bottom: 0.25rem;
            color: $--blue-main;
          }
          &__input {
            outline: none;
            padding: 1rem;
            font-weight: bold;
            font-size: 1.5rem;
            opacity: 0.8;
            border-radius: 0.3rem;
          }
        }
        .unit-convert {
          position: absolute;
          right: 0.5rem;
          top: 0.5rem;
          opacity: 0.5;
        }
      }

      &__btn-submit {
        cursor: pointer;
        padding: 1rem;
        width: 50%;
        background-color: $--blue-main;
        color: $--white;
        border-radius: 0.3rem;
        margin-top: 2rem;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .notice {
    &.notice--hidden {
      display: none;
    }
    transform: scale(1.3);
    .modal-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 2rem 5rem;

      background-color: white;
      border-radius: 0.5rem;
      color: $--text-color-bold;
      .status-modal {
        &__icon {
          box-sizing: border-box;
          padding: 3rem;
          background-color: $--light;
          border-radius: 50%;
        }
      }

      .basic-button {
        &:hover {
          opacity: 0.7;
        }
        cursor: pointer;
        padding: 1rem 3rem;
        background-color: $--green-main;
        color: $--white;
        border-radius: 0.5rem;
        &__icon {
          margin-left: 1rem;
        }
      }
    }
  }
}
